.main_page_wrapper {
    min-width: 1000px;
}

.main-page-inner {
    max-width: 1000px;
    margin: auto;
}

.main_page {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.line {
    border-bottom: 3px solid rgba(250, 235, 215, 0.3);
}

.main_title {
    font-size: 50px;

}
.main_words {
    margin-top: 50px;
    height: 500px;
    width: 500px;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    color: antiquewhite;
    font-family: "Arial Black", Gadget, sans-serif;
}

.main_description {
    font-size: 22px;
    color: antiquewhite;
    font-family: "Arial Black", Gadget, sans-serif;
}

.main-page-list {
    list-style: none;
    font-size: 18px;
    padding-left: 10px;
}

.main-page-list li {
    margin-bottom: 20px;
}

.main-page-list li:before {
    content: '- ';
}

.main_image {
    margin-top: 50px;
    height: 500px;
    width: 500px;
    background-image: url("https://cdn.suwalls.com/wallpapers/beaches/golden-sunset-over-the-waves-43974-2560x1600.jpg");
    background-size: cover;
    border-radius: 50%;
}

.main_block_left {
    display: flex;
    height: 500px;
    width: 10%;
}

.main_block_left {
    display: flex;
    height: 500px;
    width: 10%;
}

.main_page_items_title {
    margin: 50px 0;
    /* margin-left: 10%; */
    text-align: center;
    font-size: 40px;
    color: antiquewhite;
    font-family: "Arial Black", Gadget, sans-serif;
}

.main_items_block_left {
    display: flex;
    width: 10%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.recently-viewed-items {
    height: 500px;
    width: 1000px;
    overflow: scroll;
    margin-bottom: 60px;
}

.recently-viewed-items ul {
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 100%;
    height: 253px;
    /* height: 100%; */
    /* padding: 10px; */
}

.recently-viewed-items a {
    width: 21%;
    margin: 16px;
    color:  rgba(255, 255, 255, 0.7);
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    /* background-color: white; */

}

#root {
    height: 100%;
}