.main_page {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    border-bottom: 3px solid antiquewhite;

}

.main_title {
    font-size: 50px;
    color: antiquewhite;
    font-family: "Arial Black", Gadget, sans-serif;
}
.main_words {
    margin-top: 50px;
    height: 500px;
    width: 500px;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
}

.main_description {
    font-size: 20px;
    color: antiquewhite;
    font-family: "Arial Black", Gadget, sans-serif;
}

.main_image {
    margin-top: 50px;
    height: 500px;
    width: 500px;
    background-image: url("https://cdn.suwalls.com/wallpapers/beaches/golden-sunset-over-the-waves-43974-2560x1600.jpg");
    background-size: cover;
    border-radius: 50%;
}

.main_block_left {
    display: flex;
    height: 500px;
    width: 10%;
}

.main_block_left {
    display: flex;
    height: 500px;
    width: 10%;
}

.main_page_items_title {
    margin-top: 50px;
    margin-left: 10%;
    font-size: 40px;
    color: antiquewhite;
    font-family: "Arial Black", Gadget, sans-serif;
}

.main_items_block_left {
    display: flex;
    width: 10%;
}