.session_links{
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    align-items: stretch;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.session_links_button {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    align-items: stretch;
    border: none;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.session_links a:hover {
    background: goldenrod;
    color: antiquewhite;
}

.session_links a {
    margin: 0 5px;
    padding: 4px;
    background: transparent;
    text-decoration: none;
    border-radius: 10px;
    color: antiquewhite;
    -webkit-text-stroke: 1px black;
}

.session_links button:hover {
    background: goldenrod;
    color: antiquewhite;
}

.session_links button {
    margin: 0 5px;
    padding: 4px;
    background: transparent;
    text-decoration: none;
    border-radius: 10px;
    color: antiquewhite;
    -webkit-text-stroke: 1px black;
}

.navbar_header_wrapper {
    position: relative;
    min-width: 1020px;
    border-bottom: 3px solid antiquewhite;
}

.navbar_header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 50px;
    max-width: 1020px;
    margin: auto;
}

.fa-hand-holding-usd {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    color: goldenrod;
    -webkit-text-stroke: 1px black;
    text-decoration: none;
}