.session_links{
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    align-items: stretch;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.session_links_button {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    align-items: stretch;
    border: none;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.session_links a:hover {
    background: limegreen;
    color: black;
}

.session_links a {
    margin: 0 5px;
    padding: 4px;
    background: transparent;
    text-decoration: none;
    border-radius: 10px;
    color: limegreen;
    /* -webkit-text-stroke: 1px black; */
}

.session_links button:hover {
    background: limegreen;
    color: black;
}

.session_links button {
    margin: 0 5px;
    padding: 4px;
    background: transparent;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    /* -webkit-text-stroke: 1px black; */
}

.navbar_header_wrapper {
    z-index: 10;
    position: fixed;
    top: 0;
    /* min-width: 1020px; */
    width: 100%;
    /* margin: 0 auto; */
    /* border-bottom: 3px solid rgba(250, 235, 215, 0.8); */
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background: grey;
}

.navbar_header {
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    height: 50px;
    width: 1020px;
    margin: 0 auto;
}

.fa-hand-holding-usd {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    color: limegreen;
    /* -webkit-text-stroke: 1px black; */
    text-decoration: none;
}