.user-profile-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-image: url('../../assets/profile-img.jpg');
    background-size: cover;
    border-radius: 4px;
}

.user-profile-details {
    padding-left: 40px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.user-profile-details div {
    padding: 8px 0;
}

.user-profile-username {
    font-size: 40px;
    font-weight: 700;
}

.user-profile-info {
    display: flex;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}
.user-profile {
    min-width: 1040px
}

.user-profile-watchlist {
    /* height: 500px; */
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* overflow: scroll;  */
}

/* .user-profile-watchlist:hover {
    background-color: rgba(185, 185, 182, 0.3);
} */

.user-profile-watchlist li {
    /* padding-left: 20px;
    padding-top: 20px; */
    list-style: none;
    width: 30%;
    /* margin: 75px; */
    font-family: 'Open Sans', sans-serif;
    /* -webkit-text-stroke: 1px black; */
    color: black;
}

.user-profile-watchlist li:nth-child(3n + 2) {
    margin: 50px;
    margin-top: 0px;
}

.user-profile-watchlist li a {
    font-family: 'Open Sans', sans-serif;
    /* -webkit-text-stroke: 1px black; */
    color: black;
    
}

.spacer {
    height: 50px;
}

.watchlist-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}


.user-item-price, .user-item-title {
    text-align: center;
    margin-top: 5px;
}

.follow-btn-container {
    display: flex;
    justify-content: center;
}

.follow-btn {
    font-weight: 700;
    font-size: 15px;
    padding: 7px 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    transition: all 0.2s ease-in-out;
}

.follow-btn:hover {
    cursor: pointer;
    background-color: #0088BB;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
}