.search-options {
    height: 50px;
    width: 100%;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-stroke: 1px black;
    color: antiquewhite;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.search-form {
    display: flex;
    flex-direction: row;
    min-width: 1000px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    height: 30px;
    width: 50%;
    background-color: lightgrey;
    justify-content: space-around;
    border-radius: 3px;
}

.radio-buttons {
    display: flex;
}

.radio-buttons span {
    margin-right: 10px;
}
/* 
.radio-buttons input:checked ~ .checkmark {
    color: gold;
} */



input[type='radio'] {
  -webkit-appearance:none;
  width:12px;
  height:12px;
  border:1px solid darkgoldenrod;
  border-radius:50%;
  outline:none;
  margin: 0 3px;
  box-shadow:0 0 10px 0px darkgoldenrod inset;
}

input[type='radio']:hover {
  box-shadow:0 0 10px 0px goldenrod inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:100%;    
}
input[type='radio']:checked:before {
  background:black;
}

.search-text {
    display: flex;
    font-size: 18px;
}

.search-input-bar {
    display: flex;
    height: 20px;
    width: 300px;
    font-size: 15px;
}

.ul-results-wrapper {
    margin-top: 50px;
    min-width: 1000px;
}

.ul-results {
    background: transparent;
    max-width: 1000px;
    margin: auto;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}

.ul-results li {
    padding-left: 20px;
    padding-top: 20px;
    list-style: none;
    width: 33%;
    margin: 75px;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-stroke: 1px black;
    color: antiquewhite;
}

.ul-results:hover {
    background-color: rgba(185, 185, 182, 0.3)
}

.search-result-item {
    width: 33%;
    height: ;
}

.image-container {
    width: 100%;
    height: 253px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
