.search-options {
    height: 50px;
    width: 100%;
    margin-top: 90px;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: #054a78;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.search-form {
    display: flex;
    min-width: 900px;
    max-width: 960px;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    height: 30px;
    width: 50%;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
}

.radio-buttons {
    display: flex;
}

/* 
.radio-buttons input:checked ~ .checkmark {
    color: gold;
} */



.radio-container {
    display: inline;
    position: relative;
    cursor: pointer;
    user-select: none;
    padding: 3px 10px 3px 30px;
    margin: 6px 0;
    color: #828282;
    vertical-align: middle;
}

.radio-container input {
    display: none;
}

.radio-container .circle {
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
}

.radio-container p {
    display: inline;
    color: black;
}

.radio-container:hover .circle {
    background-color: aliceblue;
}

.radio-container input:checked + .circle {
    background-color: #0088BB;
    border: 1px solid #0088BB;
}

.radio-container input:checked ~ p {
    color: #0088BB;
}

.radio-container input:checked + .circle:after {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.search-text {
    display: flex;
    font-size: 18px;
}

.search-input-bar {
    display: flex;
    height: 20px;
    border: none;
    border-radius: 4px;
    width: 300px;
    font-size: 15px;
    padding: 4px 8px;
}

.ul-results-wrapper {
    margin-top: 50px;
    min-width: 1000px;
}

.ul-results {
    background: transparent;
    max-width: 1000px;
    margin: auto;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}

.ul-results li {
    padding-left: 20px;
    padding-top: 20px;
    list-style: none;
    width: 33%;
    margin: 75px;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-stroke: 1px black;
    color: antiquewhite;
}

.ul-results:hover {
    background-color: rgba(185, 185, 182, 0.3)
}

.search-result-item {
    width: 33%;
    height: ;
}

.image-container {
    width: 100%;
    height: 253px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}


.search-submit {
    padding: 7px 20px;
    border-radius: 4px;
    font-size: 15px;
    background: black;
    color: white;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.search-submit:hover {
    background-color: #0088BB;
    cursor: pointer;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
}
